@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: Comic Sans MS, sans-sefif;
  line-height: 135%;
}

/* Шапка */

header {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

#brand{
  font-size: 1.5em;
  color:rgb(255, 255, 255)
}

#brand:first-letter{
  color:rgb(255, 60, 0)
}

#reg_auth a {
  color: #ffffff;
}

#reg_auth a :hover{
  color: #000000;
}

#reg_auth>a>div.btn {
  float: right;
  margin-right: 2%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.1em;
  background-color: #ff2600;
  text-shadow: #818080 0 0 2px;
  /* border-bottom: 10px solid rgba (217, 91, 72, 1); */
}

/* Модальное окно входа */

#login, #password, #done {
  margin-top: 10px;
}

/* Футтер */

footer {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #161616;
  border-top: 3px solid #ff2600
}

footer a {
  margin-left: 8%;
  color: #ffffff;
}

#wrapper {
  float: left;
  width: 100%;
  margin-top: 20px;
}

#wrapper #articles {
  float: left;
  width: 80%;
  margin-left: 10%;
}

#wrapper #articles article {
    float: left;
    width: 31.33333%;
    border: 1px solid silver;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    height: 380px;
}

#wrapper #articles article img {
    max-height: 200px;
    max-width: 90%;
}

#wrapper #articles article h2 {
  text-align: center;
  font-size: 1.5em;
  color: #4a4a4a;
}

#wrapper #articles article p {
  text-align: center;
  font-size: 0.7em;
  color: #4a4a4a;
  margin-top: 5%;
}

#wrapper #articles article h {
  margin-left: 55%;
  font-size: 1.1em;
  color: #41c150;
  margin-top: 5%;
}

/*Модальное окно*/

#myModal #text #head {
  font-size: 1.8em;
  font-weight: bold;
}

#myModal #text img {
  max-height: 300px;
  max-width: 90%;
}

#myModal #text #price {
  color: #37b252;
  font-style: italic;
  font-size: 1.8em;
  font-weight: bold;
}

#myModal #options{
  max-width: 500px;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: #dddbdb;
  box-sizing: border-box;
}

#myModal #options #div h{
  font-style: italic;
  font-size: 1.2em;
  font-weight: bold;
}

